<!-- Put the HTML template for your page here! -->
<!doctype html>
	<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}">
		<title>my favorite sport
		</title>
	</head>
	<body>
		<h1> my favorite sport is eating
		</h1>
		<p> you realy need a reason? :)
		</p>
		<h2 id="dont_like">if you dont like that sport hover here
		</h2>
		<p id="hidden">you will die without food
		</p>
		<img src="./static/1.jpeg" width="100"  height="100" style="" >
		<img src="./static/2.jpeg" width="100"  height="100" style="" >
		<img src="./static/3.jpeg" width="100"  height="100" style="" >
		<img src="./static/4.jpeg" width="100"  height="100" style="" >
		<img src="./static/5.jpeg" width="100"  height="100" style="" >
	</body>
	</html>